.login-form input {
    height: 50px;
    width: 300px;
    border: none;
    padding: 10px;
    font-size: larger;
}
.selector {
    height: 15px;
    width: 15px;
    margin: auto 10px;
    background-color: white;
    text-align: center;
    line-height: 13px;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto auto;
    border: none;
}

.main-grid {
    display: flex;
    height: 100%;
    width: 100%;
}

.grid-item {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.viewport {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.viewport-image {
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

#side-panel {
    width: 0;
    visibility: hidden;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#side-panel > * {
    margin: 10px;
    overflow: hidden;
}

.situation-checker-list {
    background-color: white;
    display: grid;
    margin: 0 auto;
    height: auto;
    max-height: 67%;
    overflow-y: scroll !important;
}

.situation-checker {
    display: inline-flex;
    width: 95%;
    height: 35px;
    margin: 5px;
    padding: 5px;
    line-height: 25px;
    border-radius: 10px;
    background-color: #d0d0d0;
}

.modal {

}

#login-button {
    height: 50px; width: 300px; background-color: #009999; color: white; font-size: larger; font-weight: bold; border: none;
}

#login-button:active{
    background-color: #007171;
}